.row {
  padding: 8px;
  cursor: pointer;
  background-color: azure;
  border-bottom: 0.5px solid black;
}

.rowItem {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gridArrow {
  display: flex;
  align-items: center;
  cursor: pointer;
}
