.centeredDiv {
  :global {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: azure;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detailsPage {
  font-size: 20px;
}

.cardActions {
  justify-content: center;
}

.backDiv {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.saveButton {
  margin-left: 16px;
}

.deleteData {
  margin-left: 16px;
}
